# quad-wall definition for 2*2=4 WUXGA-Screens â 1920x1200
[quad_wall]
width=3840
height=2400
x=0
y=0

# upper left
[qw_ul]
wall=quad_wall
width=1920
height=1200
x=0
y=0

# upper right
[qw_ur]
wall=quad_wall
width=1920
height=1200
x=1920
y=0

# lower left
[qw_ll]
wall=quad_wall
width=1920
height=1200
x=0
y=1200

# lower right
[qw_lr]
wall=quad_wall
width=1920
height=1200
x=1920
y=1200

# config
[qw]
pi5=qw_lr
pi6=qw_ll
pi7=qw_ul
pi8=qw_ur
