[program:synergyc]
command=/usr/bin/synergyc {{ synergy }}
environment=DISPLAY=:0
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/synergy.out.log
stderr_logfile=/var/log/supervisor/synergy.out.err
