#  piwall synergy configuration file
#  2x2 desktops
#  -------------
#  | pi7 | pi8 |
#  -------------
#  | pi6 | pi5 |
#  -------------

section: screens
pi5:
pi6:
pi7:
pi8:
end

section: aliases
pi5:
192.168.0.115
pi6:
192.168.0.116
pi7:
192.168.0.117
pi8:
192.168.0.118
end

section: links
pi5:
left  = pi6
up    = pi8
pi6:    
right = pi5
up    = pi7
pi7:     
right = pi8
down  = pi6
pi8:     
left  = pi7
down  = pi5
end

section: options
screenSaverSync = true
end
